/*Here are the list of colours that are supported for the timer text*/
.cuisine-timer.text-blue {
  color: HSL(240, 100%, 50%);
}

.cuisine-timer.text-red {
  color: HSL(0, 100%, 50%);
}

.cuisine-timer.text-green {
  color: HSL(120, 100%, 50%);
}

.cuisine-timer.text-yellow {
  color: HSL(60, 100%, 50%);
}

.cuisine-timer.text-orange {
  color: HSL(24, 100%, 50%);
}

.cuisine-timer.text-purple {
  color: HSL(300, 100%, 50%);
}
/*Fonts available for the timer text*/
.cuisine-timer.font-parisienne {
  font-family: 'Parisienne', 'Brush Script MT', cursive;
}

.cuisine-timer.font-cookie {
  font-family: 'Cookie', 'Brush Script MT', cursive;
}

.cuisine-timer.font-tangerine {
  font-family: 'Tangerine', 'Brush Script MT', cursive;
}

/*Here are the list of colours that are supported for the timer button*/
.cuisine-timer .color-green {
  background-color: HSL(120, 100%, 50%);
}

.cuisine-timer .color-red {
  background-color: HSL(0, 100%, 60%);
}

.cuisine-timer .color-yellow {
  background-color: HSL(60, 100%, 50%);
}

.cuisine-timer .color-orange {
  background-color: HSL(24, 100%, 50%);
}

.cuisine-timer .color-blue {
background-color: HSL(240, 100%, 50%);
}

.cuisine-timer .color-purple{
background-color: HSL(300, 100%, 50%);
}

/*Button*/
.cuisine-timer button {
  font-weight: bold;
  text-shadow: none;
  border-radius: 50px;
}

/*Flip Clock*/
.cuisine-timer .flipclock{
  zoom: 0.35;
  -moz-transform: scale(0.35);
  max-width: 480px;
  margin: 20px auto;
}

.cuisine-timer .flip-clock-label{
  display:none;
}

/* Widget */
.cuisine-widget-all-btn {
  border: 2px solid HSL(0, 100%, 25%);
  background-color: HSL(45, 30%, 85%);
  border-radius: 25px;
  color: HSL(210, 100%, 15%);
  line-height: 2;
  font-size: 0.8em;
  margin: 0 auto;
}

.cuisine-creation-widget .widget-title {
  font-size: 1.5em;
}

.cuisine-hidden {
  display: none;
}

.recipe-link {
  display: block;
	border: 1px solid HSL(0, 100%, 25%);
	border-radius: 25px;
	font-size: 0.8em;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: HSL(45, 30%, 85%);
}
