/**************************
   TODO: STYLE STUFF
   TODO: COMMENT CODE
***************************/

.site-header *:not(img) {
    /* FOR TESTING ONLY #DELETEME */
    background-color: pink !important;
}